[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
        ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
        ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
        ignore = dirty
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = http://github.com/vim-scripts/Conque-Shell.git
        ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
        ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
        ignore = dirty
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
        ignore = dirty
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = http://github.com/astashov/vim-ruby-debugger.git
        ignore = dirty
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
        ignore = dirty
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
        ignore = dirty
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
        ignore = untracked
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
        ignore = dirty
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
        ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
        ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
        ignore = dirty
[submodule "bundle/Rename"]
	path = bundle/Rename
	url = https://github.com/vim-scripts/Rename
        ignore = dirty
[submodule "bundle/haskell.vim"]
	path = bundle/haskell.vim
	url = https://github.com/vim-scripts/haskell.vim.git
